/* body {
  background-image: url(./assets/img/mountain.png), url(./assets/img/no-mountain.png);
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
}

 */

#presentation {
  background-image: url(./assets/img/mountain.png);
  background-repeat: no-repeat;
  position: absolute;
} 

#onTopPresentation{
  border: solid 1px black;
  background-image: url(./assets/img/no-mountain.png);
  background-repeat: no-repeat;
}